span {
  font-size: x-large; 
}

#question {
  background-color: #FF6947;
  border-radius: 36px;
}

.choice {
  background-color: #E02900;
  border-radius: 25px;
  font-size: x-large;
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;   
  user-select: none;  
}

.choice.correct {
  background-color: #00CC00;
  color: black;
}

.choice:hover {
  cursor: pointer;
}

h3, .choice {
  color: #FFDED6;
  font-family: 'Lato', sans-serif;
}