
span {
  font-size: x-large; 
}

#question {
  background-color: #FF6947;
  border-radius: 36px;
}

.choice {
  background-color: #E02900;
  border-radius: 25px;
}

#question, .choice {
  color: #FFDED6;
}

