* {
  font-family: 'Courgette', cursive;
}

body {
  background-color: #FFEFEB;
}

h1, h2, h3 {
  color: #FF481F;
}

a {
  width: 200px;
}

.option-button {
  background-color: #E02900;
  color: #FFEFEB;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  border-radius: 25px;
}

.option-button:hover {
  color: #FFAC99;
}